DB_URL=jdbc:postgresql://localhost:5432/movietracker
DB_USERNAME=postgres
DB_PASSWORD=postgres

# Minimum 32-byte secret for HS256
JWT_SECRET=replace-with-a-very-long-random-secret
JWT_EXPIRATION_MS=3600000

OMDB_API_KEY=replace-with-your-omdb-key
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173,http://localhost:4173
VITE_API_BASE_URL=http://localhost:8080

SHOW_SQL=false
ROOT_LOG_LEVEL=INFO
SPRING_WEB_LOG_LEVEL=INFO
SPRING_SECURITY_LOG_LEVEL=INFO

CACHE_TYPE=redis
CACHE_TTL=10m
REDIS_HOST=redis
REDIS_PORT=6379

SUGGESTION_TITLES=Dune: Part Two,Oppenheimer,Inside Out 2,Deadpool & Wolverine,The Batman

TMDB_API_KEY=replace-with-your-tmdb-key
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p/w500
